a {
    text-decoration: none;
}

body {
    background-color: #111111;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #CCCCCC
}

img {
    width: 240px;
    height: 350px;
    background-color: #4F4C50;
    border-radius: 30px;
}

.nav {
    color: #111111;
}

.container {
    display: flex;
    align-items: center;
    margin-top: 10%;
    width: 80%;
    margin-left: 20%;
    margin-bottom: 10%;
  }

.profile-image {
    flex-basis: 40%;
    margin-left: 5%;
}

.title-super-text {
    font-size: 3rem;
}

.title-name {
    font-size: 4rem; 
}

.title-sub-text {
    font-size: 1.5rem; 
    line-height: 1.5;
}

.neon-purple {
    color: #CC00FF;
}

.gray {
    color: #4F4C50;
}

::marker {
    color: #CC00FF;
    font-size: 1.3rem;
}

.nav-item {
    justify-content: center;
}

.nav-link {
    color: #CCCCCC;
    font-size: 1.3rem;
    margin-left: 20px;
    margin-right: 20px;
}

.nav-link:hover {
    color: #CC00FF;
}

.about-me {
    width: 80%;
    margin-left: 10%;
    margin-top: 15%;
    margin-bottom: 16%;
}

.section-header {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 50px;
}

.row {
    display: inline;
    margin-left: 5%;
}

.col-sm-6 {
    width: 30%;
    display: inline-block;
}

.card {
    border: none;
}

.card-body {
    background-color: #111111;
    border: none;
}

.card-title {
    font-size: 1.4rem;
    margin-bottom: 10%;
    padding-bottom: 5%;
    border-bottom: 3px solid #CC00FF;
}

.card-footer {
    background-color: #4F4C50;
    margin-top: 10%;
}

.btn-primary {
    background-color: #4F4C50;
    border: #4F4C50;
    box-shadow: none;
}

.btn-primary:hover {
    background-color: #4F4C50;
    outline: #4F4C50;
    color: #111111;
    box-shadow: none;
}

.btn-primary:focus {
    background-color: #4F4C50;
    outline: #4F4C50;
    box-shadow: none;
}

.btn-primary:active {
    box-shadow: none;
}

.collapsed-content-title {
    font-size: 2.5rem;
    text-align: center;
    text-decoration: underline #4F4C50 4px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.collapsed-content-sub-title {
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.description {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.list-text {
    font-size: 1.1rem;
}

.italic {
    font-style: italic;
}

.experience {
    width: 80%;
    margin-left: 10%;
    margin-top: 15%;
}

.projects {
    width: 80%;
    margin-left: 10%;
    margin-top: 19%;
    margin-bottom: 15%;
}

.carousel-wrapper {
    width: 60%;
    margin-left: 20%;
}

.carousel-item {
   height: 500px;
   width: 100%;
   text-align: center;
   border-radius: 20px;
   border: 5px solid #4F4C50;
}

.project-title {
    height: 500px;
    color: #CCCCCC;
    font-size: 3.2rem;
    text-decoration: underline #CC00FF 5px;
}

.resume {
    width: 80%;
    margin-left: 10%;
    margin-top: 18%;
}

.resume-window {
    width: 80%;
    height: 1200px;
    margin-left: 10%;
    margin-bottom: 100px;
}

.contact-me {
    width: 80%;
    margin-left: 10%;
    margin-top: 15%;
}

.list-container {
    width: 60%;
    margin-left: 20%;
    margin-bottom: 100px;
    text-align: center;
    padding-bottom: 100px;
}

.icon-groups {
    display: inline-block;
}

.icons {
    text-decoration: none;
    font-size: 4rem;
    margin-right: 25px;
    margin-top: 40px;
    margin-left: 25px;
}